<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pokédex</title>

        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/tailwind.css">
    </head>

    <body class="min-h-screen w-screen flex flex-col dark:bg-black bg-white dark:text-white text-black">
        <%- include('../layouts/header.ejs'); -%>

        <main class="dark:bg-black bg-white flex-1 p-8 mx-auto max-w-md md:max-w-xl lg:max-w-4xl xl:max-w-7xl">
            <section class="grid md:gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
                <% pokemons.forEach(x => { %>
                    <article id="<%- x.id -%>" onclick="window.location = `/<%- x.id -%>`" class="flex flex-col rounded dark:bg-gray-900 bg-gray-100 cursor-pointer mb-4 md:mb-0 motion-reduce:transition-none transition-transform hover:scale-105 duration-200 ease-in-out">
                        <img class="rounded-t w-64 h-64 dark:bg-gray-800 bg-gray-200" src="<%- x.image -%>" alt="<%- x.name -%>">
                        
                        <div class="p-4">
                            <div class="flex flex-row items-center">
                                <p class="mb-1">n°<%- x.id -%></p>

                                <button onclick="event.stopImmediatePropagation(); window.location = `/edit/<%- x.id -%>`" title="Update <%- x.name -%>" class="ml-auto w-6 h-6 rounded-full hover:bg-blue-500 flex justify-center items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" class="w-4 h-4"><g><path d="M7.5,9l-3,.54L5,6.5,10.73.79a1,1,0,0,1,1.42,0l1.06,1.06a1,1,0,0,1,0,1.42Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path><path d="M12,9.5v3a1,1,0,0,1-1,1H1.5a1,1,0,0,1-1-1V3a1,1,0,0,1,1-1h3" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path></g></svg>
                                </button>

                                <button onclick="event.stopImmediatePropagation(); deletePokemon('<%- x.id -%>', '<%- x.name -%>')" title="Delete <%- x.name -%>" class="ml-1 w-6 h-6 rounded-full hover:bg-blue-500 flex justify-center items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" class="w-4 h-4"><g><line x1="1" y1="3.5" x2="13" y2="3.5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></line><path d="M2.5,3.5h9a0,0,0,0,1,0,0v9a1,1,0,0,1-1,1h-7a1,1,0,0,1-1-1v-9A0,0,0,0,1,2.5,3.5Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path><path d="M4.5,3.5V3a2.5,2.5,0,0,1,5,0v.5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path><line x1="5.5" y1="5.5" x2="5.5" y2="11" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></line><line x1="8.5" y1="5.5" x2="8.5" y2="11" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></line></g></svg>
                                </button>
                            </div>
                            <h3 class="text-xl font-bold"><%- x.name -%></h3>
                        </div>

                        <div class="flex flex-row px-4 pb-4">
                            <% x.types.forEach(y => { %>
                                <p class="px-2 py-1 rounded-full text-sm font-bold text-white mr-2" style="background-color: <%- Pokemon.getTypeColor(y) -%>;"><%- y -%></p>
                            <% }); %>
                        </div>
                    </article>
                <% }); %>
            </section>
        </main>

        <script>
            async function deletePokemon(id, name)
            {
                if (!confirm(`Are you sure you want to delete ${name}?`)) return;

                const response = await fetch(`/api/pokemons/${id}`, {
                    method: 'DELETE'
                });

                if (!response.ok) {
                    alert(`An error occurred while deleting ${name}.`);
                    return;
                }

                // Remove the node
                document.getElementById(id).remove();
            }
        </script>

        <%- include('../layouts/footer.ejs'); -%>
    </body>
</html>