<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pokédex</title>

        <link rel="stylesheet" href="/css/tailwind.css">
    </head>

    <body class="min-h-screen w-screen flex flex-col dark:bg-black bg-white dark:text-white text-black">
        <%- include('../layouts/header.ejs'); -%>

        <main class="dark:bg-black bg-white flex-1 p-8 mx-auto max-w-md md:max-w-xl lg:max-w-4xl 2xl:max-w-7xl">
            <h3 class="text-xl font-bold text-center mb-5"><%- pokemon.name -%> n°<%- pokemon.id -%></h3>

            <section class="grid md:gap-4 grid-cols-1 md:grid-cols-2">
                <img class="rounded md:w-72 md:h-72 lg:w-80 lg:h-80 xl:w-96 xl:h-96 bg-gray-100 dark:bg-gray-900 ml-auto mb-3 md:mb-0" src="<%- pokemon.image -%>" alt="<%- pokemon.name -%>">
                
                <article class="mr-auto md:w-72 lg:w-80 xl:w-96">
                    <p class="mb-3"><%- pokemon.description -%></p>

                    <div class="bg-blue-500 rounded p-4 grid grid-cols-1 md:grid-cols-2 md:gap-2 mb-3 relative text-white">
                        <div id="abilityDialog" class="hidden absolute top-0 left-0 bg-indigo-500 rounded p-4 text-white text-sm h-full overflow-y-auto">
                            <div class="flex flex-row">
                                <small class="font-bold text-sm text-gray-200 mb-2 block">Information about the ability</small>
                                <button onclick="abilityDialog.classList.toggle('hidden')" title="Close ability information dialog" class="ml-auto w-6 h-6 font-bold rounded-full bg-white text-indigo-500">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><g><g><line x1="9.12" y1="4.88" x2="4.88" y2="9.12" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></line><line x1="4.88" y1="4.88" x2="9.12" y2="9.12" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></line></g></g></svg>
                                </button>
                            </div>

                            <p class="font-bold text-lg"><%- pokemon.ability.name -%></p>
                            <p><%- pokemon.ability.description -%></p>
                        </div>

                        <div class="flex flex-col mb-1 md:mb-0">
                            <p class="font-bold">Size</p>
                            <p><%- pokemon.size -%> m</p>
                        </div>

                        <div class="flex flex-col mb-1 md:mb-0">
                            <p class="font-bold">Ability</p>

                            <div class="flex flex-row items-center">
                                <p><%- pokemon.ability.name -%></p>
                                
                                <button onclick="abilityDialog.classList.toggle('hidden')" title="Open ability information dialog" class="ml-2 w-5 h-5 text-sm font-bold rounded-full bg-white text-blue-500">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><g><path d="M5.5,5.5A1.5,1.5,0,1,1,7,7V8" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path><path d="M7,9.5a.75.75,0,1,0,.75.75A.76.76,0,0,0,7,9.5Z" fill="currentColor"></path></g></svg>
                                </button>
                            </div>
                        </div>

                        <div class="flex flex-col">
                            <p class="font-bold">Weight</p>
                            <p><%- pokemon.weight -%> kg</p>
                        </div>
                    </div>

                    <div class="mb-3">
                        <p class="font-bold mb-1">Type(s)</p>
                        <div class="flex flex-row flex-wrap">
                            <% pokemon.types.forEach(y => { %>
                                <p class="px-2 py-1 rounded-full text-sm font-bold text-white m-1" style="background-color: <%- Pokemon.getTypeColor(y) -%>;"><%- y -%></p>
                            <% }); %>
                        </div>
                    </div>

                    <div class="mb-3">
                        <p class="font-bold mb-1">Strengths</p>
                        <div class="flex flex-row flex-wrap">
                            <% pokemon.strengths.forEach(y => { %>
                                <p class="px-2 py-1 rounded-full text-sm font-bold text-white m-1" style="background-color: <%- Pokemon.getTypeColor(y) -%>;"><%- y -%></p>
                            <% }); %>
                        </div>
                    </div>

                    <div>
                        <p class="font-bold mb-1">Weaknesses</p>
                        <div class="flex flex-row flex-wrap">
                            <% pokemon.weaknesses.forEach(y => { %>
                                <p class="px-2 py-1 rounded-full text-sm font-bold text-white m-1" style="background-color: <%- Pokemon.getTypeColor(y) -%>;"><%- y -%></p>
                            <% }); %>
                        </div>
                    </div>
                </article>
            </section>
        </main>

        <%- include('../layouts/footer.ejs'); -%>
    </body>
</html>